<div class="b-title b-title__success">
  <h1>Константин, вам одобрено личное страхование в компании «Societe Generale Insurance»</h1>
</div>

<div class="b-insurance-wrapper">

  <section class="b-insurance__section b-text">
    <ul>
      <li>
        Застрахованный Константинопольский Александр Викторович
      </li>
      <li>
        100% страхования жизни и здоровья
      </li>
      <li>
        Страховая сумма по каждому из видов страхования определяется от указанного
        процента от суммы кредита
      </li>
    </ul>
  </section>

  <section class="b-insurance__section b-text">

    <p>
      Более подробно о Страховании при ипотечном кредитовании можно ознакомиться
      на&nbsp;<a href="#" target="_blank">странице сайта ДельтаКредит</a>
    </p>

  </section>

</div>