@import "../../../assets/scss/variables";

.b-questionary{
  position: relative;
  padding: 118px 55px 75px;
  background: #f2f2f2;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1000%;
    right: -1000%;
    background: #f2f2f2;
    z-index: -1;
  }

  .b-title{
    max-width: 750px;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: -1000%;
    right: -1000%;
    height: 1px;
    background: rgba(0,0,0, .2);
  }
}

.b-calc-result{
  position: relative;
  margin: 0 -75px;
}

.b-calc-result__title{
  padding-top: 10px;
  padding-bottom: 15px;
  position: relative;
  font-size: 16px;
}
.b-calc-result__item_wrapper{
  position: relative;
  box-shadow: 0 20px 40px rgba(0,0,0, .1);
}
.b-calc-result__item{
  display: block;
  position: relative;
  border: none;
  text-decoration: none;
  padding: 29px 0 30px;
  background: #fff;
  font-size: 20px;
  border-top: 1px solid rgba(0,0,0, .2);
  transition: border-color .25s, box-shadow .25s;
  box-sizing: border-box;

  &:first-child{
    border-top-color: transparent;
  }

  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
    width: 7px;
    background: $linkColor;
  }

  &:hover{
    border-top-color: transparent;
    box-shadow: 0 0 40px rgba(0,0,0, .1);
    z-index: 3;

    &+.b-calc-result__item{
      border-top-color: transparent;
    }

    .b-calc-result__column{
      .b-button{
        opacity: 1;
        visibility: visible;
        transition: background-color .25s, box-shadow .25s, visibility 0s, opacity .25s;
      }
    }
  }

  .b-calc-result__column{
    &:last-child{
      background: url("../../../assets/i/i-cakc-result-arrow.svg") no-repeat center;
      background-size: 8px auto;
    }
  }

  &.error{
    background: rgba(244,244,244, .8);
    color: rgba(0,0,0, .6);

    &:before{
      display: none;
    }

    .b-button{
      display: none;
    }

    &:hover{
      box-shadow: 0 20px 40px rgba(0,0,0, .1);

      .b-calc-result__column{
        &:last-child{
          &:before{
            background: $linkColor url("../../../assets/i/i-calc-result-edit_hover.svg") no-repeat center;
            background-size: 17px auto;
          }
        }
      }
    }

    .b-calc-result__column{
      &:nth-child(4){
        color: $linkColor;
        &:before{
          content: "Скорректируйте расчет";
          position: absolute;
          margin-top: -7px;
          top: 100%;
          right: 60px;
          white-space: nowrap;
          font-size: 12px;
        }
      }
      &:last-child{
        background: none;

        &:before{
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: rgba(227,51,78, .08) url("../../../assets/i/i-calc-result-edit.svg") no-repeat center;
          background-size: 17px auto;
          transition: background-color .25s;
        }
      }
    }
  }
}

.b-calc-result__column{
  float: left;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  height: 30px;

  &:nth-child(1){
    width: 22%;
    padding-left: 45px;
  }
  &:nth-child(2){
    width: 17%;
  }
  &:nth-child(3){
    width: 14%;
  }
  &:nth-child(4){
    padding-right: 60px;
    text-align: right;
    width: 19%;
  }
  &:nth-child(5){
    width: 12%;
  }
  &:nth-child(6){
    width: 9.5%;
  }
  &:nth-child(7){
    width: 6.5%;
  }

  .b-button{
    border-radius: 0;
    font-size: 17px;
    width: 200px;
    position: absolute;
    height: auto;
    top: -30px;
    bottom: -30px;
    right: 0;
    text-align: center;
    z-index: 2;
    padding: 30px 0 !important;
    font-weight: normal;
    visibility: hidden;
    opacity: 0;
    transition: background-color .25s, box-shadow .25s, visibility .25s 0s, opacity .25s;
  }

  .b-alert-icon__box{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: left;
    z-index: 5;
  }
}

.b-calc-result__download{
  position: relative;
  text-align: center;
  margin-top: 50px;

  .b-link-icon{
    color: $linkColor;
  }
}

@media only screen and (max-width: 1064px){
  .b-calc-result{
    margin-left: -12%;
    margin-right: -12%;
  }
}

@media only screen and (max-width: 900px){
  .b-calc-result__title{
    font-size: 13px;

    .b-calc-result__column{
      white-space: nowrap;
    }
  }
  .b-calc-result__item{
    font-size: 17px;
  }
  .b-calc-result__column{
    &:nth-child(1){
      padding-left: 25px;
    }
  }
}

@media only screen and (max-width: 767px){

  .b-calc-result{
    margin-left: -5%;
    margin-right: -5%;
  }

  .b-calc-result__title{
    display: none;
  }
  .b-calc-result__column{
    width: 50% !important;
    padding: 30px 0 10px !important;
    border-bottom: 1px solid rgba(0,0,0, .2);
    text-align: left !important;
    font-size: 15px;
    line-height: 24px;
    height: 65px;

    &:last-child{
      border-bottom: none;
      width: 100% !important;
      background-position: right center !important;

      &:before{
        top: 0 !important;
        bottom: 0;
        left: 0;
        content: "Узнать решение";
        color: $linkColor;
        font-weight: 600;
        font-size: 15px !important;
        line-height: 65px !important;
      }

      .b-button{
        display: none;
      }
    }

    &:before{
      content: "";
      position: absolute;
      top: 10px !important;
      left: 0;
      right: auto;
      margin-top: 0 !important;
      font-size: 10px !important;
      line-height: 17px !important;
      white-space: nowrap;
    }

    &:nth-child(1){
      &:before{
        content: "Расчет по";
      }
    }
    &:nth-child(2){
      &:before{
        content: "Сумма кредита";
      }
    }
    &:nth-child(3){
      &:before{
        content: "Первый взнос";
      }
    }
    &:nth-child(4){
      &:before{
        content: "Ежемес. платеж" !important;
      }
    }
    &:nth-child(5){
      &:before{
        content: "Срок";
      }
    }
    &:nth-child(6){
      &:before{
        content: "Ставка";
      }
    }
  }

  .b-calc-result__item{
    border: none;
    margin-bottom: 8px;
    padding: 0 5%;
    box-shadow: 0 40px 50px rgba(0,0,0, .05) !important;

    &:before{
      width: 3px;
    }

    &.error{
      background: rgba(255,255,255, .8);

      .b-calc-result__column{
        &:last-child{
          display: none;
        }
        &:nth-child(5),
        &:nth-child(6){
          border-bottom: none;
        }
      }
    }
  }

  .b-calc-result__item_wrapper{
    box-shadow: none;
  }

  .b-calc-result__download{
    margin-top: 30px;
  }
}