<div class="b-title">
  <h1>Страхование жизни и здоровья</h1>
</div>

<div class="b-insurance-wrapper">

  <section class="b-insurance__section b-text">
    <p>
      С использованием электронного сервиса ДельтаЭкспресс Вы можете получить одобрение возможности заключения договора страхования с СК «Societe Generale Insurance»
      (страховая компания соответствует требованиям Банка). Для страхования жизни
      (в соответствии с выбранными Выми условиями кредитования), пожалуйста, заполните анкету на страхование
    </p>

    <div class="b-button__box">
      <a href="#" class="b-button">Заполнить анкету</a>
    </div>
  </section>

  <section class="b-insurance__section b-text">

    <p>
      Вы вправе выбрать любую страховую компанию, при условии соответствия страховой компании и условий страхования требованиям Банк. К текущим перечнем страховых компаний, соответструющих требованиям Банка, а также с требованиями Банка к страховым компаниям и условиям страхования, Вы можете ознакомиться <a href="#" target="_blank">на сайте Банка</a>
    </p>
    <p>
      В случае возникновения вопросов Вы можете обратиться к <a href="#" (click)="showCallPopupLink($event)">ипотечному менеджеру</a> за консультацией.
    </p>

  </section>

  <section class="b-insurance__section b-text">
    <ul>
      <li>Застрахованный Константинопольский Александр Викторович</li>
      <li>100% страхования жизни и здоровья</li>
      <li>Страховая сумма по каждому из видов страхования определяется от указанного процента от суммы кредита</li>
    </ul>
  </section>

  <section class="b-insurance__section b-text">
    <h6>Возможные виды страхования при ипотечном кредитовании</h6>
    <ul>
      <li>
        Страхование риска утраты и повреждения недвижимого имущества
      </li>
      <li>
        Страхование риска прекращения права собственности на недвижимое имущество,
        обременения (ограничения) права собственности на недвижимое имущество правами
        третьих лиц
      </li>
      <li>
        Страхование риска причинения вреда жизни и потери
        трудоспособности
      </li>
    </ul>
  </section>

  <section class="b-insurance__section b-text">

    <p>
      Более подробно о Страховании при ипотечном кредитовании можно ознакомиться
      на&nbsp;<a href="#" target="_blank">странице сайта ДельтаКредит</a>
    </p>

  </section>

</div>

<app-call-popup [display]="display" (fn)="showCallPopup()"></app-call-popup>