<div class="b-wrapper">

  <div class="b-title b-title__success">
    <h1>Константин, вам предварительно одобрена ипотека на <span class="no-wrap">{{formating(creditSum)}} <span class="b-rub">a</span></span></h1>
  </div>

  <form [formGroup]="questionaryDopCreditForm" (ngSubmit)="onSubmit()">

    <app-questionary-complete-checkbox
            id='block-{{questionaryDopCreditFormFields.dopCredit.id}}'
            [nameInput]=questionaryDopCreditFormFields.dopCredit.nameInput
            [idInput]=questionaryDopCreditFormFields.dopCredit.id
            [group]=questionaryDopCreditForm
            [formControlName]=questionaryDopCreditFormFields.dopCredit.id
            [label]=questionaryDopCreditFormFields.dopCredit.label
            [labelSum]=questionaryDopCreditFormFields.dopCredit.labelSum
            [value]=questionaryDopCreditFormFields.dopCredit.value
            (changeCurrentValue)="changeCurrentValueDropCredit($event)">
    </app-questionary-complete-checkbox>

    <div class="b-result-step__submit">
      <button pButton type="submit"  label="Оформить онлайн"></button>
    </div>

  </form>

</div>