.b-burger__overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, .8);
  z-index: 2;
  font-size: 14px;
  line-height: 26px;
}

.b-burger__wrapper{
  position: relative;
  background: #fff;
  padding: 10px 2.5% 0;
}

.b-burger__header{
  font-weight: 600;
}

.b-burger__logo{
  position: relative;
  float: left;
  line-height: 45px;
  vertical-align: top;
  padding-left: 62px;
  padding-right: 25px;
  font-weight: 600;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url("../assets/i-logo.svg") no-repeat;
  }
}

.b-burger__list{
  position: relative;
  margin-top: 16px;

  .b-burger__list_item{
    position: relative;
    border-top: 1px solid rgba(0,0,0, .1);

    .b-link-icon{
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
    }
  }
}

@media only screen and (max-width: 767px){
  .b-burger__logo{
    line-height: 35px;
    padding-left: 45px;

    &:before{
      width: 35px;
      height: 35px;
    }
  }
}